body {
    background: #efefef;
    font-family: Bahnschrift;
    background-image: url("https://img.freepik.com/premium-vector/minimalist-clean-wavy-white-background-design_6689-121.jpg");
}

h1 {
    text-align: center;
    font-size: 36px;
    background-color: #04AA6D;
    border: 2px solid black;
    color: white;
    padding: 20px;
}

p {
    font-size: large;
    margin-left: 10px;
}

fieldset {
    background: #efefef;
    font-size: large;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
}

a {
    padding: 10px
}

legend {
    background: #04AA6D;
    font-size: x-large;
    font-weight: bold;
    border: 2px solid black;
    padding: 10px;
    color: white;
    opacity: 100%;
}

input[type = text], input[type = password], input[type = date] {
    padding: 5px;
    width:500px;
}

select {
    width: 500px;
    padding: 5px;
}

.registerbtn {
    background: #04AA6D;
    font-size: large;
    font-family: Bahnschrift;
    font-weight: bold;
    color: white;
    padding:10px;
    margin: 8px 0;
    border: none;
    cursor:pointer;
    width:100%;
    border: 0.5px solid black;
}

label {
    font-weight: bold;
    font-size: 20px;
}

.facebook,.E-mail,.Instagram,.call,.Twitter{
    text-align: center;
}